.panel_resizer {
position: absolute;
top: 0; bottom: 0;
right: 400px;
width: 8px;
cursor: col-resize;
z-index: 20;
}
.panel_resizer:hover, .panel_resizer.active {
background: rgba(255,255,255,.08);
box-shadow: -1px 0 0 rgba(0,0,0,.3), 1px 0 0 rgba(0,0,0,.3);
}
